<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendo UI GridView Example</title>
  @*   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.common.min.css"> *@


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"></script>

    


</head>
<body>

    <div id="grid"></div>

    <script>
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/Crud/GetData",
                        dataType: "json"
                    },
                    create: {
                        url: "/Crud/CreateData",
                        dataType: "json",
                        type: "POST"
                    },
                    update: {
                        url: "/Crud/UpdateData",
                        dataType: "json",
                        type: "POST"
                    },
                    destroy: {
                        url: "/Crud/DeleteData",
                        dataType: "json",
                        type: "POST"
                    }
                },
                schema: {
                    model: {
                        fields: {
                            roll: { type: "number" },
                            name: { type: "string"},
                            subject: { type: "string" }
                        }
                    }
                }
            },
            columns: [
                { field: "roll", title: "Roll" },
                { field: "name", title: "Name" },
                { field: "subject", title: "Subject" },
                { command: ["edit", "destroy"], title: "&nbsp", width: "250px" }
            ],
            editable:"popup",
            height: 550,
            toolbar:["create","save"],
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    </script>

</body>
</html>
